*,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  color-scheme: dark light;
}

main {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
